* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
a{
  text-decoration: none;
}
.images{
  background-image:url("1.png");
  min-height: 600px;
  width: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
   margin: 4.5rem auto; 
  border: 8px solid yellow;
}
.btn-left,
.btn-right {
  position: absolute;
  background-color: black;
  border: 5px solid yellow;
  color: yellow;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
.btn-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.btn-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
